<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:drools="http://drools.org/schema/drools-spring"
	xsi:schemaLocation="   
          http://www.springframework.org/schema/beans   
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
          http://www.springframework.org/schema/tx   
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd  
          http://www.springframework.org/schema/context   
          http://www.springframework.org/schema/context/spring-context-3.0.xsd   
          http://www.springframework.org/schema/aop   
          http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
          http://drools.org/schema/drools-spring
          http://drools.org/schema/drools-spring.xsd" default-lazy-init="true">
    
	<!-- 组件扫描 -->
	<context:component-scan base-package="nju.software">
	</context:component-scan>
	<context:annotation-config />
	<context:component-scan base-package="nju.software.dao.impl,nju.software.service.impl" />
	<context:component-scan base-package="nju.software.filter"/>
	<!-- jpa配置需要 -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 声明事务 -->
	<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<!-- 开启注解方式下的声明式事务 -->
	<tx:annotation-driven transaction-manager="txManager"
		proxy-target-class="true" />
		
	<!-- 事务传播特性 -->
	 <tx:advice id="transactionAdvice" transaction-manager="txManager"> 
        <tx:attributes> 
            <tx:method name="*" propagation="REQUIRED" /> 
        </tx:attributes> 
    </tx:advice>
    
	<aop:config> 
    <aop:pointcut id="businessService" 
            expression="execution(* nju.software.service.*.*(..))" /> 
    <aop:advisor advice-ref="transactionAdvice" pointcut-ref="businessService" /> 
    </aop:config>
</beans>