.action{
	float: right;
}

table.detail.table.table-bordered{
	border-top:1px solid #dddddd ;
}
table.detail.table-bordered table.table td{
	border-top: 1px solid #dddddd;
}
table.detail.table.table-bordered input{
	margin-bottom: 0px;;
}
.tab-content table.table td{
	text-align: center;
	vertical-align:middle;
}

ul.nav.nav-tabs.detail li{
	float:right;
}

ul.nav.nav-tabs li.task-name{
	float:left;
	background-color:#0866c6; 
	color: white;
	padding: 9px 80px;
}

table.table.detail td.title{
	font-weight: bold;
	background-color: #EEEEEE;
}

table.table.detail td:hover:not(.title){
	
}

div.tab-content{
	clear: both;	
}