div.action a.btn-danger{
	color: white;
	margin-left: 5px;
}

div a.btn-danger{
	color: white;
	margin-left: 5px;
}

div.action a.btn-primary:hover{
	background-color:#0044cc;
}

div#warehouse table {
	margin-bottom: 10px;
}

div#warehouse input.btn{
	margin-bottom: 20px;
}

a:hover{
	cursor: pointer;
}