<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>WEB-INF/log4j/log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>WEB-INF/spring/spring-main.xml</param-value>
	</context-param>
	<!-- 根目录 -->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>web.root</param-value>
	</context-param>
	<!-- <listener> <listener-class>org.springframework.web.util.WebAppRootListener</listener-class> 
		</listener> -->
	<!-- 日志 -->
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- <listener> <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class> 
		</listener> -->

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>customerFilter</filter-name>
		<filter-class>nju.software.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>type</param-name>
			<param-value>customer</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>customerFilter</filter-name>
		<url-pattern>/customer/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>employeeFilter</filter-name>
		<filter-class>nju.software.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>type</param-name>
			<param-value>employee</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>employeeFilter</filter-name>
		<url-pattern>/employee/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>accountFilter</filter-name>
		<filter-class>nju.software.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>type</param-name>
			<param-value>account</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>accountFilter</filter-name>
		<url-pattern>/account/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>designFilter</filter-name>
		<filter-class>nju.software.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>type</param-name>
			<param-value>design</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>designFilter</filter-name>
		<url-pattern>/design/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>financeFilter</filter-name>
		<filter-class>nju.software.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>type</param-name>
			<param-value>finance</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>financeFilter</filter-name>
		<url-pattern>/finance/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>marketFilter</filter-name>
		<filter-class>nju.software.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>type</param-name>
			<param-value>market</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>marketFilter</filter-name>
		<url-pattern>/market/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>produceFilter</filter-name>
		<filter-class>nju.software.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>type</param-name>
			<param-value>produce</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>produceFilter</filter-name>
		<url-pattern>/produce/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>sweaterFilter</filter-name>
		<filter-class>nju.software.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>type</param-name>
			<param-value>sweater</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>sweaterFilter</filter-name>
		<url-pattern>/sweater/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>buyFilter</filter-name>
		<filter-class>nju.software.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>type</param-name>
			<param-value>buy</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>buyFilter</filter-name>
		<url-pattern>/buy/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>qualityFilter</filter-name>
		<filter-class>nju.software.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>type</param-name>
			<param-value>quality</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>qualityFilter</filter-name>
		<url-pattern>/quality/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>logisticsFilter</filter-name>
		<filter-class>nju.software.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>type</param-name>
			<param-value>logistics</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>logisticsFilter</filter-name>
		<url-pattern>/logistics/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>orderFilter</filter-name>
		<filter-class>nju.software.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>type</param-name>
			<param-value>order</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>orderFilter</filter-name>
		<url-pattern>/order/*</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>otherFilter</filter-name>
		<filter-class>nju.software.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>type</param-name>
			<param-value>other</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>otherFilter</filter-name>
		<url-pattern>/default.do</url-pattern>
	</filter-mapping>

	<!-- jbpm5 Mina服务器的启动 -->
	<servlet>
		<servlet-name>HumanTaskStartupServlet</servlet-name>
		<servlet-class>nju.software.util.DelegatingServletProxy</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- dispatcher-servlet -->

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				/WEB-INF/dispatch-servlet.xml  
	           </param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>default.do</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/views/405.jsp</location>
	</error-page>
	<error-page>
       <error-code>500</error-code>
       <location>/views/error.jsp</location>
    </error-page>
    <error-page>
       <exception-type>java.lang.Exception</exception-type>
       <location>/views/error.jsp</location>
    </error-page>
    <!-- session超时定义,单位为分钟 --> 
	<session-config> 
	<session-timeout>20</session-timeout> 
	</session-config>
</web-app>
